<html>
  <head>
    <title>Jobify</title>
    <link href="https://fonts.google.com/css?family=Roboto" rel="stylesheet" />
    <link href="/estilos.css" rel="stylesheet" />
  </head>
  <body>
<h1><a href="/"><img src="/images/logo.png" alt="Jobfy_DevPleno" ></a></h1>

<p>We are Jobify - Join us!!!</p>